<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        FakePinterest
        {% endblock %}
    </title>
</head>
{% block body %}

<body>
    <h1>Pagina Principal</h1>
    <h2>descrição da Pagina principal</h2>
    {% block formulario %}
    <form method="POST">
        {{ form.csrf_token }}
        {{ form.email.label() }}
        {{ form.email() }}

        {{ form.senha.label() }}
        {{ form.senha() }}

        {{ form.butao_confirmacao() }}

    </form>
    {% endblock %}
</body>
{% endblock %}

</html>